
table.nescefe-horizontal-columns {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}

table.nescefe-horizontal-columns > tbody > tr > td {
	padding: 5px;
	vertical-align: top;
}

table.nescefe-horizontal-columns > tbody > tr > td.nescefe-horizontal-columns-column {
	border-right: 1px solid #cdcdcd;
}

