
table.nescefe-horizontal-columns {
	padding: 0px;
	margin: 0px;
	border: 1px dotted #333333;
	border-collapse: collapse;
	width: 100%;
}

table.nescefe-horizontal-columns td {
	border: 1px dotted #333333;
	padding: 5px;
	vertical-align: top;
}

