
table.nescefe-two-columns {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}

table.nescefe-two-columns > tbody > tr > td {
	padding: 5px;
	vertical-align: top;
}

table.nescefe-two-columns > tbody > tr > td.nescefe-two-columns-left {
	border-right: 1px solid #cdcdcd;
}

