{namespace nescefe=ThinkopenAt\KbNescefe\ViewHelpers}
<nescefe:backend.includeStyle file="EXT:kb_nescefe/Resources/Public/Css/ThreeColumns.css" />
<table class="nescefe-table nescefe-three-columns" >
	<tr>
		<td>
			<nescefe:backend.getHeader index="0" />
			<nescefe:backend.getContent index="0" />
		</td>
		<td>
			<nescefe:backend.getHeader index="1" />
			<nescefe:backend.getContent index="1" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<nescefe:backend.getHeader index="2" />
			<nescefe:backend.getContent index="2" />
		</td>
	</tr>
</table>
