<!--
	This is the default template for the "FrontendController" when the "renderAction"
	gets called. This file is at the default location for this action.

	The other templates "TwoColumns.html", "ThreeColumns.html", etc. which are examples for the
	frontend display are just in the same directory because "Templates/Frontend/" is a
	reasonable location for them. They could eventually get moved into an "Examples" folder.
-->
<div style="background: yellow; border: 1px solid red; color: black; padding: 5px; font-weight: bold;">kb_nescefe error: <f:translate key="LLL:EXT:kb_nescefe/Resources/Private/Language/locallang_frontend.xlf:{error}" /></h1>
